<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container d-flex flex-column justify-content-center">
        <h2 class="my-4 d-flex justify-content-center">Add Course</h2>
        <form method="POST" action="/add" class="w-75 mt-8 mx-auto">
            <div class="form-group">
                <label for="courseImgUrl">Image URL</label>
                <input type="text" class="form-control" id="courseImgUrl" name="course_img_url" required>
            </div>

            <div class="form-group">
                <label for="courseName">Course Name:</label>
                <input type="text" class="form-control" id="courseName" name="course_name" required>
            </div>

            <div class="form-group">
                <label for="courseDesc">Course Description:</label>
                <textarea class="form-control" id="courseDesc" name="course_desc" rows="3" required></textarea>
            </div>

            <div class="form-group">
                <label for="instructorName">Instructor Name:</label>
                <input type="text" class="form-control" id="instructorName" name="instructor_name" required>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="form-group w-100 mr-3">
                    <label for="coursePrice">Course Price:</label>
                    <input type="number" class="form-control" id="coursePrice" name="course_price" required>
                </div>

                <div class="form-group w-100">
                    <label for="courseRating">Course Rating:</label>
                    <input type="text" class="form-control" id="courseRating" name="course_rating" required>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center">
                <div class="form-group w-100 mr-3">
                    <label for="courseDifficultyLevel">Course Difficulty Level:</label>
                    <input type="text" class="form-control" id="courseDifficultyLevel" name="course_difficulty_level" required>
                </div>

                <div class="form-group w-100">
                    <label for="courseDuration">Course Duration:</label>
                    <input type="text" class="form-control" id="courseDuration" name="course_estimated_duration" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>